body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  top: 50px;
  width: 50%;
  max-width: 550px;
  height: 50%;
  padding: 5px 5px;
  //grid-template-columns: 1fr 1fr 1fr 1fr;
  border: 1px solid black;
  box-shadow: 5px 5px 5px black;
}
.box {
  margin: 3px;
  height: 22%;
  width: 22%;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  // vertical-align: text-bottom;
  // display: inline-block
}
