$color2: rgb(183, 229, 255);
$color4: darken($color2, 9%);
$color8: darken($color2, 18%);
$color10: darken($color2, 27%);
$color20: darken($color2, 36%);
$color40: darken($color2, 45%);
$color80: darken($color2, 54%);
$color100: darken($color2, 63%);
$color200: darken($color2, 72%);
$color400: darken($color2, 81%);
$color800: darken($color2, 90%);
$darkFontColor: #333;
$backgroundColor: rgb(255, 197, 91);

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: $backgroundColor;
  color: white;
  height: 100vh;
  max-height: 100vh;

  .app {
    height: 100vh;
    .nav {
      background-color: #333;
      height: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      .login-btn-container {
        display: flex;
        height: 5em;
        position: absolute;
        left: 10%;
        justify-content: center;
      }
      .signin-btn {
        background-color: white;
        color: $darkFontColor;
      }
      .button-default {
        margin: 0.2em;
      }
    }
    .main-container {
      display: flex;
      padding: 0;
      margin: 0;
      align-items: center;
      height: 90vh;
      overflow: hidden;
      .game-container {
        padding: 0 2.5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 90vh;
        flex: 3;
        .board {
          background-color: rgb(124, 124, 124);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          top: 50px;
          width: 550px;
          height: 50%;
          padding: 5px 5px;
          //grid-template-columns: 1fr 1fr 1fr 1fr;
          border: 1px solid black;
          box-shadow: 5px 5px 5px black;
          .box {
            background-color: white;
            margin: 3px;
            height: 22%;
            width: 22%;
            // border: 1px solid black;
            border-radius: 0.1em;
            font-size: 60px;
            color: white;
            text-align: center;
            line-height: 100px;
          }
        }
        .score {
          position: relative;
          left: 13em;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 1em;
          width: auto;
          height: 5em;
          background-color: rgb(124, 124, 124);
          border-radius: 3px;
        }
      }
      .leaderboard-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: lighten(#333, 30%);
        height: 90vh;
        margin-right: 2em;
        .leader {
          background-color: lighten(#333, 10%);
          display: flex;
          justify-content: space-around;
          padding: 1em;
          border: 1px solid white;
          width: 100%;
        }
      }
    }
  }
}
.color2 {
  background-color: $color2;
  color: #333;
}
.color4 {
  background-color: $color4;
  color: #333;
}
.color8 {
  background-color: $color8;
  color: #333;
}
.color10 {
  background-color: $color10;
  color: #333;
}
.color20 {
  background-color: $color20;
  color: #eee;
}
.color40 {
  background-color: $color40;
  color: #eee;
}
.color80 {
  background-color: $color80;
  color: #eee;
}
.color100 {
  background-color: $color100;
  color: #eee;
}
.color200 {
  background-color: $color200;
  color: #eee;
}
.color400 {
  background-color: $color400;
  color: #eee;
}
.color800 {
  background-color: $color800;
  color: #eee;
}
.black {
  background-color: black;
  color: #eee;
}
