body {
  margin: 0;
}

.container {
  padding: 0 2.5%;
}
.board {
  display: grid;
  width: 408px;
  height: 408px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
#box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  font-size: 60px;
  text-align: center;
  line-height: 100px;
  // vertical-align: text-bottom;
  // display: inline-block
}
